<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>social network wall - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    
        <%- include('css'); -%>

</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <div class="row" id = "page-content">

        <% status.forEach(function(s) { %>
        <div class="panel">
        
          <div class="panel-body" id="status_<%= s._id%>" >
              <% if (s.isDelete) { %>
              <button class="btn btn-danger fa fa-eraser pull-right" aria-hidden="true"></button>
              <% } if (s.isEdit) { %> 
              <button class="btn btn-info fa fa-pencil pull-right" aria-hidden="true"></button>
              <% } %>
              <div class="fb-user-thumb">
                  <img src="<%=s.avatar_image %>" alt="">
              </div>
              <div class="fb-user-details">
                  <h3><a href="../status/<=% s.user_id %>" class="#"><%= s.user_name %></a></h3>
                  <p><%= s.time %></p>
              </div>
              
              <div class="clearfix"></div>
              <p class="fb-user-status"> <%= s.content %>
              </p>
              <div class="fb-status-container fb-border">
                  <div class="fb-time-action">
                    <button class="<% if (s.isLike) { %> 
                                     <%='btn btn-primary'%> 
                                    <%} else { %>
                                        <%= 'btn btn-light' %>
                                    <% } %>" 
                            id="like_button_<%= s._id %>"
                title="Like this" onclick = "likePost( '<%= s._id %>')">Like</button>'
                  </div>
              </div>
        
        
              <div class="fb-status-container fb-border fb-gray-bg">
                  <div class="fb-time-action like-info"><% if (s.isLike) { %> 
                        <a href="../status/<%= user_id %> " class="cmt-thumb">Bạn</a> <span>và</span> 
                        <% } %> 
                        <span> <%= s.like %> người đã thích</span>
                  </div>
        
                  <ul class="fb-comments">
                    <% s.comments.forEach(function(comment) { %>
                      <li>
                          <a href="../status/<%= comment.comment_user_id %>" class="cmt-thumb">
                              <img src="<%= comment.comment_user_avatar %>" alt="">
                          </a>
                          <div class="cmt-details">
                              <a href="../status/<%= comment.comment_user_id %>"><%= comment.comment_user_name %></a>
                              <span> <%= comment.content %> </span>
                              <p><%= comment.time %> </p>
                          </div>
                      </li>
                    <% }) %>
                      
                      <li>
                          <a href="../status/<%= user_id %>" class="cmt-thumb">
                              <img src="<%= avatar_image %>" alt="">
                          </a>
                          <div class="cmt-form">
                              <textarea type="text" class="form-control" placeholder="Write a comment..." onkeypress="commentStatus(event, '<%= s._id %>', '<%= user_id %>')" name=""></textarea>
                        </div>
                      </li>
                  </ul>
                  <div class="clearfix"></div>
              </div>
          </div>
          
        </div>
        <% }); %> 
  </div>
  
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript"></script>
<script src="../public/scripts/main.js"></script>


</body>
</html>